:root {
  --lightblue-bg: #b4d0e7;
  --blue-bg: #0061ff;
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body > * {
  font-family: "Open Sans", sans-serif;
  /* debug */
  border: 1px dotted darkgray;
}

/* debug */
/* main > * {
  border: 1px solid black;
} */

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}
/* COMMON */

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.container-large {
  margin: 0 auto;
  max-width: 1100px;
  width: 70%;
}

.container-small {
  margin: 0 auto;
  max-width: 1000px;
  width: 60%;
}

.m-btm-big {
  margin-bottom: 3rem;
}

.m-btm-big5 {
  margin-bottom: 5rem;
}

.m-btm {
  margin-bottom: 2rem;
}

.m-btm-small {
  margin-bottom: 1rem;
}

.col {
  /* background-color: darkgreen; */
}

.c-small {
  width: 40%;
}

.c-mid {
  width: 50%;
}

.c-large {
  width: 60%;
  /* min-height: 100%; */
}

/* icon */
.fa-check {
  color: var(--blue-bg);
}

.button {
  padding: 0.2rem 0.8rem;
  background-color: var(--blue-bg);
  color: white;
}

.button:hover {
  filter: brightness(1.5);
}

.button-white {
  padding: 0.2rem 1.2rem;
  border: 1px solid black;
  background-color: white;
}

.button-white:hover {
  filter: brightness(1.3);
}

.icon-large {
  font-size: 2.5rem;
}

.border-lg {
  border: 1px solid lightgray;
}

.bg-green {
  background-color: #a2d39b;
}

.bg-brown {
  background-color: #61082b;
}

.bg-blue {
  background-color: #0093ce;
}

.bg-orange {
  background-color: #ff1c1c;
}

.bg-red {
  background-color: #d5001f;
}

.bg-light-blue {
  background-color: #b4d0e7;
}

.bg-dark-blue {
  background-color: #0d2481;
}

.bg-yellow {
  background-color: #ffd830;
}
/* Card */

.card {
  width: 100%;
  height: 100%;

  /* padding: 1rem; */
}

.card-head {
  padding: 0.5rem;
  text-align: center;
  border-bottom: 1px solid lightgray;
}

.card-content {
  padding: 1rem;
}

.card-list li {
  margin-bottom: 1rem;
}

#buy-now {
  text-decoration: underline;
  color: #2626f1;
}

.hr-card {
  width: 20%;
  margin-left: 5px;
}

.card-sumup {
  padding: 1rem;
}

.card-sumup ul li {
  margin-top: 1rem;
}
/* Typography */

h1 {
  font-size: 3.5rem;
  font-weight: 800;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
/* /COMMON */

/* HEADER */

header {
  min-height: 600px;
  /* debug */
  background-color: var(--lightblue-bg);
  justify-content: center;
  align-items: center;
}

/* Nav */

nav {
  height: 60px;

  background-color: white;

  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  font-size: 0.9rem;
}

.dropbox {
  height: 100%;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
  width: 40%;
}

/* .dropbox li {
  border-bottom: 1px solid black;
} */

.actions {
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  padding-right: 1rem;
  width: 40%;
}

/* Nav */

/* Hero */

.hero {
  margin-top: 80px;
  padding: 1rem;
}

.row-hero {
  width: 100%;
  gap: 1rem;
  font-size: 0.9rem;
  position: relative;
}

.title-img {
  position: absolute;
  max-width: 600px;
  width: 75%;
}

/* /Hero */

/* /HEADER */

/* MAIN */

/* Section Buisness */

.row-buisness {
  /* debug */
  width: 100%;

  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 0.5rem;
}

.row-buisness .col {
  width: calc(95% / 3);
}

.enterprise .card-haed {
  border-bottom: 1px solid lightgray;
}

.row-enterprise {
  padding: 0.5rem;
  /* debug */
  min-height: 200px;
  justify-content: center;
  gap: 0.5rem;
}

.row-enterprise .col {
  padding: 1rem;
}

/* /Section buisness */

/* section partner */

.row-partner {
  width: 100%;
  gap: 1.5rem;
}

.row-partner .c-small {
  padding: 1.5rem 0.5rem 0 0.5rem;
}

/* /section partner */

/* section operations */

.row-operations {
  /* debugg */

  width: 100%;
  gap: 0.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.row-operations .col {
  width: calc(95% / 3);
}

.row-operations .card-content p {
  font-size: 0.8rem;
}
/* /section operations */

/* Section team */

#client {
  text-decoration: underline;
  color: #2626f1;
}
/* /Section team */

/* section partenrship */
.section-partenrship {
  width: 100%;
  /* aspect-ratio: 1/ 1; */
}

.section-partenrship .row {
  height: 100%;
  width: calc(100% / 3);
  flex-wrap: wrap;
}

.c-mid {
  aspect-ratio: 1/1;
  padding: 1.5rem;
}

.border-g {
  border: 15px solid #d1e9cd;
}

.c-mid img {
  width: 70%;
  fill: white;
}

.middle {
  aspect-ratio: 1/1;
  overflow-y: auto;
}

.middle .card {
  padding: 2rem;
}

.designt-logo {
  width: 60%;
}

/* /section partenrship */

/* section-free-trial */
.section-free-trial {
  /* debug */
  background-color: var(--lightblue-bg);
  min-height: 300px;
  justify-content: center;
  align-items: center;
}

.section-free-trial .row {
  gap: 1rem;
}

.section-free-trial h2 {
  color: #61082b;
}
/* /section-free-trial */

/* section ask   */

.section-ask {
  /* debug */
  min-height: 500px;
  text-align: left;
}
.section-ask li {
  padding: 3rem 0;
  border-bottom: 1px solid lightgray;
}

.section-ask p {
  font-weight: bold;
}

.section-ask li:first-child {
  border-top: 1px solid gray;
}
.hidden {
  display: none;
  margin-top: 1rem;
  text-align: left;
}

.icon-hidden {
  display: none;
}

.section-ask li:hover .hidden {
  display: block;
}

.section-ask li:hover .icon-hidden {
  display: block;
}

.section-ask li:hover .icon-display {
  display: none;
}
/* section ask   */

/* /MAIN */

/* FOOTER */

footer {
  /* debug */
  min-height: 400px;
  padding: 1rem;

  background-color: black;
  color: white;
}

/* /FOOTER */

/* Footer-top */

.footer-top {
  background-color: lightgreen;
  min-height: 300px;
  padding: 1rem;
}

.row-footer {
  gap: 1rem;
}

.row-footer .col {
  width: calc(95% / 5);

  /* debug */
  min-height: 250px;
  background-color: green;
}
/* /Footer-top */

.footer-bottom hr {
  position: absolute;
  top: 0;
  left: 1rem;
  width: 10%;
}

/* Footer-bottom */

.footer-bottom {
  /* debug */
  background-color: lightcoral;
  min-height: 100px;

  position: relative;
  padding: 1rem;
}
