:root {
  --lightblue-bg: #b4d0e7;
  --blue-bg: #0061ff;
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body > * {
  font-family: "Open Sans", sans-serif;
  /* debug */
  border: 1px dotted darkgray;
}

/* debug */
main > * {
  border: 1px solid black;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
/* COMMON */

.flex {
  display: flex;
}

.container-large {
  margin: 0 auto;
  max-width: 1100px;
  width: 70%;
}

.container-small {
  margin: 0 auto;
  max-width: 1000px;
  width: 60%;
}

.m-btm-big {
  margin-bottom: 3rem;
}

.m-btm {
  margin-bottom: 2rem;
}

.col {
  background-color: darkgreen;
}

.c-small {
  min-height: 100%;
  width: 40%;
}

.c-large {
  width: 60%;
  min-height: 100%;
}

/* /COMMON */

/* HEADER */

header {
  min-height: 600px;
  /* debug */
  background-color: var(--lightblue-bg);
  justify-content: center;
  align-items: center;
}

/* Nav */

nav {
  height: 80px;

  /* debug */
  background-color: lightcoral;
  border: 1px black dashed;

  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

.dropbox {
  height: 100%;
  align-items: center;
  gap: 1rem;
  padding-left: 0.5rem;
  /* debug */
  width: 30%;
  background-color: lightgreen;
}

.actions {
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-left: 0.5rem;
  /* debug */
  width: 30%;
  background-color: lightgreen;
}

/* Nav */

/* Hero */

.hero {
  margin-top: 80px;
  /* debug */
  background-color: lightgreen;
  min-height: 400px;
  padding: 1rem;
}

.row-hero {
  width: 100%;
  /* debug */
  min-height: 300px;
  background-color: aquamarine;
  gap: 1rem;
}

/* /Hero */

/* /HEADER */

/* MAIN */

/* Section Buisness */

.row-buisness {
  /* debug */
  width: 100%;
  padding: 1rem;
  background-color: lightgreen;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.row-buisness .col {
  width: calc(95% / 3);
  /* debug */
  min-height: 800px;
  background-color: darkgreen;
  border: 1px solid black;
}

.row-enterprise {
  padding: 1rem;
  /* debug */
  min-height: 200px;
  background-color: lightgreen;
}

/* debug */
.row-enterprise div {
  background-color: darkgreen;
}
/* /Section buisness */

/* section partner */

.partner-section {
  /* debug */
  min-height: 400px;
  background-color: lightgreen;
}

.row-partner {
  min-height: 400px;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
}

.row-partner .col {
  /* debug */
  background-color: darkgreen;
}
/* /section partner */

/* section operations */

.operations-section {
  /* debug */
  background-color: lightgreen;
  min-height: 600px;
}

.row-operations {
  /* debugg */
  min-height: 500px;
  width: 100%;
  gap: 0.5rem;
  padding: 1rem;
  flex-wrap: wrap;
}

.row-operations .col {
  width: calc(95% / 3);
  background-color: darkgreen;
}

/* /section operations */

/* Section team */

.section-team {
  background-color: lightgreen;
  min-height: 200px;
}

/* /Section team */

/* section partenrship */
.section-partenrship {
  /* debug */
  background-color: lightgreen;
  height: 400px;
}

.section-partenrship .row {
  height: 100%;
  width: calc(100% / 3);
  /* debug */
  border: 1px dashed darkgreen;
}
/* /section partenrship */

/* section-free-trial */
.section-free-trial {
  /* debug */
  background-color: var(--lightblue-bg);
  min-height: 300px;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

/* /section-free-trial */

/* section ask   */

.section-ask {
  /* debug */
  min-height: 500px;
  text-align: center;
}

/* section ask   */

/* /MAIN */

/* FOOTER */

footer {
  /* debug */
  min-height: 400px;
  padding: 1rem;

  background-color: black;
  color: white;
}

/* /FOOTER */

/* Footer-top */

.footer-top {
  background-color: lightgreen;
  min-height: 300px;
  padding: 1rem;
}

.row-footer {
  gap: 1rem;
}

.row-footer .col {
  width: calc(95% / 5);

  /* debug */
  min-height: 250px;
  background-color: green;
}
/* /Footer-top */

.footer-bottom hr {
  position: absolute;
  top: 0;
  left: 1rem;
  width: 10%;
}

/* Footer-bottom */

.footer-bottom {
  /* debug */
  background-color: lightcoral;
  min-height: 100px;

  position: relative;
  padding: 1rem;
}
