:root {
  --lightblue-bg: #b4d0e7;
  --blue-bg: #0061ff;
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body > * {
  font-family: "Open Sans", sans-serif;
  /* debug */
  border: 1px solid black;
}

img {
  max-width: 100%;
}

/* COMMON */

.flex {
  display: flex;
}

.container-large {
  margin: 0 auto;
  width: 70%;
}

.container-small {
  margin: 0 auto;
  width: 60%;
}

.m-btm-big {
  margin-bottom: 3rem;
}

.m-btm {
  margin-bottom: 2rem;
}

/* /COMMON */

/* HEADER */

header {
  min-height: 600px;
  /* debug */
  background-color: lightblue;
  justify-content: center;
  align-items: center;
}

/* Nav */

nav {
  height: 80px;
  /* debug */
  background-color: lightcoral;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.dropbox {
  height: 100%;
  width: 30%;
  background-color: lightgreen;
}

.actions {
  height: 100%;
  width: 30%;
  background-color: lightgreen;
}

/* Nav */

/* Hero */

.hero {
  margin-top: 80px;
  /* debug */
  background-color: lightgreen;
  min-height: 400px;
  padding: 1rem;
}

.row-hero {
  width: 100%;
  /* debug */
  min-height: 300px;
  background-color: aquamarine;
  gap: 1rem;
}

.col {
  background-color: darkgreen;
}

.c-small {
  min-height: 100%;
  width: 40%;
}

.c-large {
  width: 60%;
  min-height: 100%;
}
/* /Hero */

/* /HEADER */

/* MAIN */

/* Section Buisness */

.row-buisness {
  /* debug */
  width: 100%;
  padding: 1rem;
  background-color: lightgreen;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.row-buisness .col {
  width: calc(95% / 3);
  /* debug */
  min-height: 400px;
  background-color: darkgreen;
  border: 1px solid black;
}

.row-enterprise {
  padding: 1rem;
  /* debug */
  min-height: 200px;
  background-color: lightgreen;
}

/* debug */
.row-enterprise div {
  background-color: darkgreen;
}
/* /Section buisness */

/* section partner */

.partner-section {
  /* debug */
  min-height: 400px;
  background-color: lightgreen;
}

.row-partner {
  min-height: 400px;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
}

.row-partner .col {
  /* debug */
  background-color: darkgreen;
}
/* /section partner */

/* /MAIN */
